                            /*--- Estilos creados por Galeano Santiago ---*/
/*---------------------------- Aspectos Generales ----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}


body{
    font-family: sans-serif;
    color: #fff;
    /* background-color:#000; */
    /*padding-bottom:1000em;*/
	overflow-x:hidden;  /*Para ocultar el desplazamiento horizontal*/

}

.bg-dark-blue{
    background:#000080;
}

a{
    text-decoration: none;
}

.espacio_hacia-abajo{
    height:700px;
}
.height-800{
    height:800px;
}

.btn{
    transition: .3s;
}
.btn:hover{
	transition:.3s;
	transform: translateY(-3px) scale(1.05);
	box-shadow:0 0 30px -10px;

}

.text-justify{
    text-align: justify;
}

.text-azul{
    color:#007BFF;
}
.text-rojo{
    color: #DC3545;
}

.contenedor {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.centrar-flex{
    display:flex;
    justify-content:center;
    align-items:center;
}
.contenedor-fluido {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
  }
.fila{
    display: flex;
    flex-wrap: wrap;
}
/*-------------------------------- Barra de Navegacion ---------------------------*/

#menu{
    /* position:relative;
    
    align-self: top;  */
    /* top:0;
    left:0;
    justify-self: flex-start !important; */
    width:100%;
    border-bottom:1px solid #fff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
	transition: all .5s;
}

#menu li > a{
    font-size:20px;
    color: #ffff;
    margin-right:50px;
	transition: all .4s;

    
}



#menu li a:hover{
	transform: translateY(0) scale(1.10);
	box-shadow:0 0 10px -10px;
	transition: all .4s;
    color: rgb(17, 0, 255);
}

nav.fixed#menu {
    animation: popDown 0.5s;
}


nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 3; /*Quitar mas tarde si hace falta*/
    background:#000080;
    border:none;

}

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }

.active-item{           /*Para utilizar en js*/
    color:var(--bs-primary) !important;
    transform: translateX(5px) scale(1) !important;
}

/*------------------------------------- PAGINA DE INICIO ------------------------------------*/


/*---------------------------- Codigo Para el banner Parallax ----------------------------*/

.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5,7,8, 0.75), rgba(5,7,8, 0.75)), url("img/fondo1.jpg");
    /*Parallax*/
    background-attachment: fixed;
    background-size: 100%;
    background-position:40% 40%;
    background-repeat: repeat;
}


.banner-description{
    
    width:90%;
    max-width:1000px;
    margin:auto;
    margin-top:20vh;
    /* justify-self: center; */
    

}
.banner-description>.contenedor{
    text-align:center;
}

.banner-description a{
    border: 2px solid rgba(255,255,255,1);
    padding: 0.6em 3.5em;
    margin:auto;
    opacity:0.8;
    color:#fff;
    text-decoration:none;
    border-radius: 50px;
    font-size: 0.9em;
    transition: all .25s;
}

.banner-description a:hover{
    border: 2px solid rgb(17, 0, 255);
    background: rgb(196, 196, 201);
    color: #000 !important;
    transform: translateY(0) scale(1.10);
    transition: all .25s;
}

.banner-description h1{
    font-weight: 600;
    font-size: 8em;

}

/*---------- Animacion de parpadeo del guion bajo ---------*/
#parpadeo{
    animation: movimiento 1.7s linear infinite;
    animation-delay: 1.3s;
    }
            
@keyframes movimiento{
    0%{
        opacity: 1;
        /*color:rgb(17, 0, 255);*/
    }
    25%{
        opacity: 0;
        
    }
    50%{
        opacity: 1;
        /*color: #fff;*/
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        /*color:rgb(17, 0, 255);*/
    }
}


/*----------------------------Pagina de Servicios-------------------------*/

/*---------------contenido del inicio----------------*/


.contenido_inicio{
	height:700px;
}

.contenido_inicio-descripcion{
	height:700px;

    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
}
.contenido_inicio-descripcion>.box-1{
    display:flex;
    align-items:center;
    width:35%;
}
.contenido_inicio-descripcion>.box-2{
    width:65%;
}
.contenido_inicio-descripcion>.col{
	height:700px;
}

.contenido-inicio-hovers>.row{
    height:700px;
}

.bloque-prod{
    margin:auto;    /*Para centrar las tarjetas. Esto es importante para cuando cambie la resolucion de pantalla*/
    width: 295px;   /*Ancho, para cambiarlo debes cambiar el max-width tambien*/
    /*max-width:295px;    /*Ancho maximo, esto es para que no se haga mas grande de 350px*/
    border-radius:10px;
    background:white;
    height:320px;   /*Alto de la tarjeta, para cambiarlo tenes que cambiar el max-height tambien*/
    /*max-height:300px; /*Para que no se haga mas grande al hacer responsive. Si queres que sea mas largo tenes que cambiar esta propiedad tambien, junto con el height*/
    transition: .3s;
    border:1px solid var(--bs-gray-300);
    
}

.bloque-prod img{   /*Para que la imagen tenga las esquinas superiores redondeadas*/
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:100%;

}
.img-prod, .img-prod2{
    border-bottom:1px solid var(--bs-gray-300);
}
            /*-------Version alternariva del img-prod-------*/
.img-prod2{
    background-image: url("img/iconos/sistema_crud2.png");
    background-size: 103%;
    background-repeat: no-repeat;
    height: 170px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
        /*-------------------------------------------------*/

.bloque-prod:hover{ /*Efecto al pasar el mouse*/
    transition: .3s;
    transform: translateY(-3px) scale(1.05);
    box-shadow:0 0 30px -10px;
    cursor:pointer; /*Para que el cursor cambie a dedo al pasar por encima*/
    
}

.bloque-prod-contenido{
    height:166px;
    text-align:start;
}

.bloque-prod-contenido p{
    /* text-secondary ps-2 */
    color:var(--bs-secondary);
    padding-left:10px;
}
    /*-----------Imagen de fondo--------------*/
.contenido-inicio-hovers{
    background-image: url("img/fondo2.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position:center;
    color:#000;
}
.hovers-servicios{
    display:flex;
    align-items:center;
    text-align:center;
    height:700px;
}

.hovers-servicios>.box-1, .hovers-servicios>.box-2{
    width:50%;
}
/*----------------------------Pagina de Nosotros-------------------------*/

.section-nosotros{
	height:700px;
}

.section-nosotros>.contenedor>.fila{
	height:700px;
    /* d-flex align-items-center justify-content-evenly  */
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.bannerNosotros{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5,7,8, 0.75), rgba(5,7,8, 0.75)), url("img/fondo3.jpg");
    /*Parallax*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: repeat;
}

#nosotros{
    height:700px;
}

.primerFondoNosotros{
    width: 100%;
    background-image: url('img/fondo9.jpg'); 
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
}

.etiqueta_sobreNosotros{
    box-shadow:1px 12px 15px -10px;
    /* border rounded pe-3 ps-3 pt-4 pb-4 bg-light */
    border:1px solid var(--bs-gray-300);
    border-radius:10px;
    padding: 20px 15px;
    background:var(--bs-light);
}
.etiqueta_sobreNosotros h1{
    font-weight:bold;
}
.etiqueta-horario{
    background-color: var(--bs-light);
    /* border rounded pe-3 ps-3 pt-5 pb-5  */
    padding: 40px 20px;
}

.etiqueta-horario>img{
    display:none;
}

.section-nosotros .fila .box-1{
    width:30%;
}
.section-nosotros .fila .box-2{
    width:45%;
}

.section-map{
	height:700px;
}
.section-map>.container-fluid>.row{
	height:700px;
}

.section-map>.container-fluid>.row>.d-flex{
	height:700px;
}

.section-map>.contenedor-fluido>.fila{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    height:700px;
    position: relative;
}

.section-map .box-1{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding:0 20px;
}
.section-map .box-2{
    width:50%;
    display:flex;
    align-items:center;
    text-align:center;
    height:100%;
}
.section-map .box-1 h1{
    font-weight:bold;
}
/* iframe{
	height:450px;
} */


/*--------------------------- Pagina de Contacto -----------------------------*/

.section-contact{
	height:800px;
}

.section-contact>.container-fluid>.row{
	height:800px;
}

.section-contact>.container-fluid>.row>.col{
	height:800px;
}

.section-contact>.container-fluid>.row>.col>.row>.col{
	height:800px;
}

.bannerContacto{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5,7,8, 0.75), rgba(5,7,8, 0.75)), url("img/fondo5.jpg");
    /*Parallax*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: repeat;
}

input.transparent-input{
	background-color:rgba(0,0,0,0) !important;
	border:none !important;
	border-bottom:1px solid #fff !important;
	border-left:1px solid #fff	!important;
	color:#fff !important;

 }

.formulario_contacto{
    box-shadow: 10px 15px 20px -10px #000;
    width:70%;
}

.formulario_contacto textarea{
    width:100%;
    height:150px;
    padding:7px;

}

.iconos{
    transition: .3s;
}
.iconos:hover{
    transition: .3s;
    transform: translateY(-3px) scale(1.15);
    cursor:pointer;
}

/*----------------------------Footer UPDT--------------------------*/

footer{
    
    left:0px;
    bottom:0px;
    background: #1b2a4e;
    min-height:200px;
    background-position:center;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

footer p{
    color:#f3f3f3;
    text-align:center;
    padding:0 20px; 
    padding-top:20px;
}

#iconos{
    font-size:26px;
    padding: 0 8px;
    color:#f3f3f3;
}



/* ------------------------------------------Seccion de media querys------------------------------------------ */
/* Escritorio extra grande */
@media only screen and (min-width: 1200px){

}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){


/*----------------------------Pagina de Servicios-------------------------*/

    /*-----------Imagen de fondo--------------*/
    .contenido-inicio-hovers{
        background-image: url("img/fondo2.jpg");
        background-size: 150%;
        background-repeat: no-repeat;
        background-position:center;
    }

    /*----------------------------Pagina de Nosotros-------------------------*/

    .etiqueta-horario{
        width: 480px;
        border:2px solid var(--bs-light);
       
        } 
    
    .etiqueta-horario>.table{
        width:200px !important;

    }
    /*
    .etiqueta-horario table p{
        margin-top:0px !important;
        margin-bottom: 0px !important;

    } */
    /*----------------------------Pagina de Contacto-------------------------*/
    .formulario_contacto{
        width:90%;
    }
    .formulario_contacto textarea{
        width:100%;
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

/*----------------------------Pagina de Inicio-------------------------*/
    .banner{
        /*Parallax*/
        /* background-attachment: fixed; */
        background-size: 150%;
        background-position:40% 40%;
        background-repeat: repeat;
    }
    .banner-description h1{
        font-weight: 600;
        font-size: 7em;
    
    }
/*----------------------------Pagina de Servicios-------------------------*/
    .contenido_inicio-descripcion>.box-1{
        width:50%;
    }
    .contenido_inicio-descripcion>.box-2{
        width:50%;
    }
    .hovers-servicios>.box-1{
        width:100%;
    }
    .hovers-servicios>.box-2{
        width:100%;
    }
/*----------------------------Pagina de Nosotros-------------------------*/

    .primerFondoNosotros{
        background-image: url('img/fondo9.jpg'); 
        background-size: 120%;
    }

    .etiqueta-horario{
        width: 430px;
    } 
    
    .etiqueta-horario>.table{
        width:200px !important;
        /* width:100%; */
        display:none;

    }

    .etiqueta-horario>img{
        display:block;
        width:400px;
        /* width:100% !important; */
    }

    .section-nosotros .fila .box-1{
        width:35%;
    }
    .section-nosotros .fila .box-2{
        width:55%;
    }

/*----------------------------Pagina de Contacto-------------------------*/
    .formulario_contacto{
        width:90%;
    }
    .formulario_contacto textarea{
        width:100%;
    }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
/*----------------------------Pagina de Inicio-------------------------*/
    .banner{
        /*Parallax*/
        /* background-attachment: fixed; */
        background-size: 140%;
        background-position:40% 40%;
        background-repeat: repeat;
    }

    .banner-description h1{
        font-weight: 600;
        font-size: 5.5em;
    }

    

/*----------------------------Pagina de Servicios-------------------------*/
    
    .contenido-inicio-hovers{
        background-size: 130%;
        background-repeat: no-repeat;
        background-position:center;
        height:700px !important;
    }

    .contenido_inicio{
        height:1150px;
        /* border:2px solid #000; */
        /* background-color:black; */
    }
    
    .contenido_inicio-descripcion{
        height:450px;
        /* border:2px solid red; */

    }
    .hovers-servicios>.box-1{
        width:100%;
    }
    .hovers-servicios>.box-2{
        width:100%;
    }
    .contenido_inicio-descripcion>.box-1{
        width:100%;
        height:450px;

    }
    .contenido_inicio-descripcion>.box-2{
        width:100%;
        height:450px;

    }
    .contenido_inicio-descripcion>.col{
        height:450px;
        /* border:2px solid yellow; */

    }
    
    .contenido-inicio-hovers>.fila{
        height:700px;

    }
    
/*----------------------------Pagina de Nosotros-------------------------*/

    .primerFondoNosotros{
        width: 100%;
        background-image: url('img/fondo9.jpg'); 
        background-size: 160%;
        background-position:70% 20%;
        background-repeat: no-repeat;
    }


    /* seccion del mapa */

    .section-map{
        height:930px;
        /* background-color:#000; */
    }
    .section-map>.container-fluid>.row{
        height:450px;
        /* border:2px solid red; */
    }
    .section-map>.container-fluid>.row>.d-flex{
        height:450px;
        /* border:2px solid green; */

    }
    .section-nosotros .fila .box-1{
        width:100%;
    }
    .section-nosotros .fila .box-2{
        width:100%;
    }

    .section-map .box-1, .section-map .box-2{
        width:100%;
        height:450px;
    }

    /* iframe{
        height:350px;
    } */

/*----------------------------Pagina de Contacto-------------------------*/

    .section-contact{
        height:1300px;
        /* padding:10px 0; */
    }

    .section-contact>.container-fluid>.row{
        height:600px;
    }

    .section-contact>.container-fluid>.row>.col{
        height:600px;
    }

    .section-contact>.container-fluid>.row>.col>.row>.col{
        height:600px;
    }


    /* .formulario_contacto{
        width:90%;
    }*/

    .formulario_contacto textarea{
        width:100%;
        height:100px;
    }
    form{
        height:auto;
        /* padding:30px 0; */
    }
}

/*Celulares*/
@media only screen and (max-width: 575px){
/*----------------------------Pagina de Inicio-------------------------*/
    
    .banner{
        /*Parallax*/
        /* background-attachment: fixed; */
        background-size: 200%;
        background-position:40% 40%;
        background-repeat: repeat;
    }

    .banner-description h1{
        font-weight: 600;
        font-size: 4em;
    }



    /*----------------------------Pagina de Servicios-------------------------*/

    .contenido-inicio-hovers{
        background-size: 130%;
        background-repeat: no-repeat;
        background-position:center;
        height:700px !important;

    }

    .contenido_inicio{
        height:1150px;
        /* border:2px solid #000; */
        /* background-color:black; */
    }

    .contenido_inicio-descripcion{
        height:450px;
        /* border:2px solid red; */

    }
    .contenido_inicio-descripcion>.box-1{
        width:100%;
        height:450px;

    }
    .contenido_inicio-descripcion>.box-2{
        width:100%;
        height:450px;

    }
    .contenido_inicio-descripcion>.col{
        height:450px;
        /* border:2px solid yellow; */

    }

    .contenido-inicio-hovers>.fila{
        height:700px;
        /* border:2px solid green; */

    }
    .hovers-servicios>.box-1{
        width:100%;
    }
    .hovers-servicios>.box-2{
        width:100%;
    }
    /*----------------------------Pagina de Nosotros-------------------------*/

    .primerFondoNosotros{
        width: 100%;
        background-image: url('img/fondo9.jpg'); 
        background-size: 160%;
        background-position:70% 20%;
        background-repeat: no-repeat;
    }


    .etiqueta-horario>.table{
        width:200px !important;
        display:none;

    }

    .etiqueta-horario>img{
        display:block;
        width:100%;
    }

    .section-nosotros .fila .box-1{
        width:100%;
    }
    .section-nosotros .fila .box-2{
        width:100%;
    }

    /* seccion del mapa */

    .section-map{
        height:900px;
        /* background-color:#000; */
    }
    .section-map>.container-fluid>.row{
        height:450px;
        /* border:2px solid red; */
    }
    .section-map>.container-fluid>.row>.d-flex{
        height:450px;
        /* border:2px solid green; */

    }

    .section-map .box-1, .section-map .box-2{
        width:100%;
        height:450px;
    }

    /* iframe{
        height:350px;
    } */

    /*----------------------------Pagina de Contacto-------------------------*/

    .section-contact{
        height:1300px;
    }

    .section-contact>.container-fluid>.row{
        height:600px;
    }

    .section-contact>.container-fluid>.row>.col{
        height:600px;
    }

    .section-contact>.container-fluid>.row>.col>.row>.col{
        height:600px;
    }


    .formulario_contacto{
        width:80%;
    }

    .formulario_contacto textarea{
        width:100%;
        height:100px;
    }
    form{
        height:auto;
    }
}

/* Mediaqueries especial pantallas pequeñas */
@media only screen and (max-width:465px){
/*----------------------------General-------------------------*/
    p{
        font-size:14px;
    }

/*----------------------------Seccion de inicio-------------------------*/
    .banner{
        background-size: 240%;
        background-position:40% 40%;
    }

    .banner-description h1{
        font-weight: 600;
        font-size: 3.5em;
    }


/*----------------------------Seccion de Nosotros-------------------------*/
  
    /* iframe{
        width:100% !important;
    } */
/*----------------------------Seccion a Contacto-------------------------*/

    .formulario_contacto{
        width:90%;
    }
    .formulario_contacto input{
        /* width:120%; */
        margin:auto;
    }


/*---------------------------- footer -------------------------*/
    footer{
        flex-direction:column;
    }

}

/*Celulares angostos*/
@media only screen and (max-width:365px){
/*----------------------------General-------------------------*/
    p{
        font-size:13px;
    }

/*----------------------------General-------------------------*/
    .banner-description a{
        
        padding: 0.6em 1em;
        
        font-size: 13px;
    }
}

/*Celulares extra angostos*/
@media only screen and (max-width: 352px){
/*----------------------------General-------------------------*/
    p{
        font-size:12px;
    }

/*----------------------------Seccion de inicio-------------------------*/

    .banner-description{
        margin:auto;
        margin-top:25vh;
    }

    .banner-description h1{
        font-weight: 600;
        font-size: 2.5em;
    }
    .banner-description h3{
        font-size: 20px;
    }

/*----------------------------Seccion a Contacto-------------------------*/

    .formulario_contacto{
        width:100%;
    }

    .formulario_contacto input{
        /* width:120%; */
        margin:auto;
    }
}
